*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

html,
body{
    font-family: 'Times New Roman', Times, sans-serif;
    line-height:1.5;
    scroll-behavior: smooth;
}
.aboutme {
    background-color: antiquewhite;
    /* width: 100%; */
    min-height: 100vh;
    display: inline-block;
}

.navbar ul{
    float: right;
    margin-right: 10px;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.navbar ul li a{
    color:#000;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.navbar ul li a:hover{
    background-color: #b8522a;
    opacity: 0.5;
    padding: 2px;
}
.navbar ul li a:focus{
    color: grey;
}

.navbar p{
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
    margin-left: 10px;
}


.aboutme p{
    color:#b8522a
}

.title{
    font-size: 30px;
    font-style: italic;
}
.detailaboutme{
    padding: 5% 15%
}

.self .content{
    width: 60%;
    float: left;
    padding: 20px 20px;

}
.self .description{
    margin-top: 50px;
}
.self .image{
    width: 40%;
    float: right;
   
}

.image img{
    width: 60%;
    position: relative;
    padding: 10px;
    margin: 30px 100px;
}

.picset{
    padding:5% 15% ;
    border: 1px solid black;
    height: 20px;
    
}

.code{
    background-color: antiquewhite;
    /* width: 100%; */
    min-height: 100vh;
    display: inline-block;
}

.future-content{
    padding: 5% 15%;
    margin-top:40px
}
.future{
    font-size: 80px;
    float: left;
    width: 50%;
    color:cadetblue
}
.column2 .description{
    block:1px solid black;
    margin-top: 50px;
    float: right;
    width: 50%;
    color:#b8522a
}




footer{
    background-color:#b8522a;
    position: relative;
    color:white
}

.footer-content {
    text-align: center;
    padding: 5px;
    margin-top:10px
}